
html,body{
	margin: 0;
	padding: 0;
	min-height: 100%;
}
#map{
	width: 200px;
	background-color: #fff;
	padding: 10px;
}
#map_popdiv{
	text-align: center;
}
#map_popdiv .title{
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
#map_popdiv .address{
	font-size: 12px;
	font-weight:normal;
	color: #888;
}
#map_popdiv .left{
	width: 48%;
	float: left;
	margin-top: 10px;
}
#map_popdiv .right{
	width: 48%;
	float: right;
	margin-top: 10px;
}
.mask .btnGroup.show{
	display: block;
	overflow: hidden;
	-webkit-animation: pop_btnGroup2 0.5s ease-in-out;
}
.mask .btnGroup.down{
	display: block;
	overflow: hidden;
	-webkit-animation: dispop_btnGroup2 0.5s ease-in-out;
}
@-webkit-keyframes pop_btnGroup2{
	0% {
		height: 0;
	}
	100% {
		height: 180px;
	}
}
@-webkit-keyframes dispop_btnGroup2{
	0% {
		height: 180px;
	}
	100% {
		height: 0;
	}
}



/**/

.hidden{
	display: none;
}
.button{
	display: block;
	background-color: #23A813;
	-webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    -ms-border-radius: 160px;
    -o-border-radius: 160px;
    border-radius: 160px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}
.button.gray{
	background-color: #616161;
}
.button_border{
	display: block;
	border: 1px solid #fff;
	-webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    -ms-border-radius: 160px;
    -o-border-radius: 160px;
    border-radius: 160px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}
.bodybg{
	background-color: #7E8488;
}
.iconbtn_titleleft{
	margin: 12px 14px;
	float: left;
	cursor: pointer;
}
.text_titlecenter{
	margin-left:20%;
	width:60%;
	text-align: center;
	line-height: 40px;
	padding-top: 8px;
	font-size: 18px;
	font-weight: bold;
}
.page{
	height: 100%;
	width: 100%;
	position: absolute;
}
.page>.box{
	padding:14px;
}
.card{
	min-height: 380px;
	background-color: #fff;
	border-radius: 10px;
    overflow: hidden;
    -moz-box-shadow:0px 2px 15px #555;   
	-webkit-box-shadow:0px 2px 15px #555;           
	box-shadow:0px 2px 15px #555;
	color: #fff;
}
.color.bar{
	height: 50px;
}
.color .logo .logopic{
	width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
    background-color: #fff;
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    -ms-border-radius: 160px;
    -o-border-radius: 160px;
    border-radius: 160px;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.color .logo .logotext{
	float: left;
	clear: right;
	font-size: 14px;
	padding-top:6px;
	margin-left: 8px;
}
.color .title{
	float: left;
	clear: right;
	min-width: 70%;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	padding-top: 20px;
	margin-left: 8px;
}
.color .card_img{
	min-height: 110px;
	margin-top: 10px;
}
.color .card_img img{
	width:100%;
}
.color .title2{
	float: left;
	font-size: 12px;
	text-align: left;
	margin-top: 8px;
	margin-left:12px;
}
.color .date{
	float: left;
	clear: left;
	font-size: 12px;
	text-align: left;
	margin-top: 8px;
	margin-left:12px;
}
.color .btn_detail{
	float: right;
	clear: right;
	text-align: center;
	margin-top: 8px;
	margin-right:12px;
}
.color .btn_detail .button_border{
	width: 80px;
	margin: auto;
}
.color .line_grace{
	margin-top: 12px;
	height: 9px;
	background-image: url(../images/grace.png);
}
.white{
	text-align: center;
}
.white .qr{
	padding-top: 10px;
	padding-bottom: 5px;
}
.white .code{
	color: #000;
	font-size: 12px;
	
}
.white .btn_getcard .button{
	width:80%;
	margin: auto;
	margin-top: 8px;
}
.coupon_detail{
	padding: 12px;
	font-size: 12px;
	line-height: 22px;
	color: #646464;
}
.coupon_detail .detail_img img{
	width:100%;
	height: auto;
}
.mask{
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	background: rgba(0,0,0,0.5);
}
.mask .btnGroup{
	background: rgba(255,255,255,0.5);
	width: 100%;
	padding: 10px 0;
	position: absolute;
	bottom: 0px;
	text-align: center;
}

.mask .btnGroup .button{
	width: 80%;
	margin: 10px auto;
}
.mask .bigicon{
	width:134px;
	height: 134px;
	margin: 100px auto 0 auto;
}
.mask .pop_title{
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin-top: 20px;
}
.blur{   
	-webkit-filter: blur(2px); /* Chrome, Opera */
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);   
	filter: blur(2px);   
}
@-webkit-keyframes pop_btnGroup{
	0% {
		height: 0;
	}
	100% {
		height: 220px;
	}
}
@-webkit-keyframes dispop_btnGroup{
	0% {
		height: 220px;
	}
	100% {
		height: 0;
	}
}
.flip {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
	backface-visibility: hidden;
	transform: translateX(0);
}
.flip.out {
	-webkit-transform: rotateY(-90deg) scale(.9);
	-webkit-animation-name: flipouttoleft;
	-webkit-animation-duration: 175ms;
	transform: rotateY(-90deg) scale(.9);
	animation-name: flipouttoleft;
	animation-duration: 175ms;
}
.flip.in {
	-webkit-animation-name: flipintoright;
	-webkit-animation-duration: 225ms;
	animation-name: flipintoright;
	animation-duration: 225ms;
}
.flip.out.reverse {
	-webkit-transform: rotateY(90deg) scale(.9);
	-webkit-animation-name: flipouttoright;
	transform: rotateY(90deg) scale(.9);
	animation-name: flipouttoright;
}
.flip.in.reverse {
	-webkit-animation-name: flipintoleft;
	animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@keyframes flipouttoleft {
    from { transform: rotateY(0); }
    to { transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
    from { -webkit-transform: rotateY(0) ; }
    to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@keyframes flipouttoright {
    from { transform: rotateY(0); }
    to { transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
    from { -webkit-transform: rotateY(-90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@keyframes flipintoleft {
    from { transform: rotateY(-90deg) scale(.9); }
    to { transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@keyframes flipintoright {
    from { transform: rotateY(90deg) scale(.9); }
    to { transform: rotateY(0); }
}




*{
	margin:0;padding:0;
}
img{
	border:0;
}
/*myMap start*/
.m_map{
	width:100%;
	background:#CCCCFF;
	top:50px;
}
/*end myMap*/

.headermenu li a {
    padding:6px;
}

.anchorBL{ 
display:none; 
} 