body,.mui-content{font-family: "微软雅黑"}

/*.desc-control .mui-control-item.mui-active:before {*/
	/*content: " ";*/
	/*position: absolute;*/
	/*border: 6px solid transparent;*/
	/*border-bottom-color: #FFF;*/
	/*left: 20px;*/
	/*bottom: 0;*/
/*}*/



.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}
.mui-table-view-cell{
	
    margin: 0;
    padding: 0px 15px;
    
    vertical-align: top;

    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.top-edit{
	margin:-2px 0;color: #333;;font-size:14px;position: fixed;right:10px;opacity: .5;
}


.mui-content {
	padding: 20px;
	background-color: transparent;
	padding-top:64px !important;
}



.card {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 6px #7e7e7e;
	box-shadow: 0 2px 6px #7e7e7e
}
.myh5_card:first-child{
	margin-top: 5px;
}

.myh5_card {
	border-radius: 9px;
	background-color: #F7F7F7;
	-webkit-box-shadow: 0 2px 6px #7e7e7e;
	box-shadow: 0 2px 6px #7e7e7e;
	height: 110px;
	margin-bottom: 5px
}

.myh5_card .top {
	height:100%;
	display: block;
	padding: 14px 0 0 20px;
	border-radius: 9px;
}

.myh5_card .top .photo {
	width:80px;
	height:80px;
	float: left;
	margin-right: 10px;
	border-radius:50%;
}

.myh5_card .top p {
	padding: 0;
	margin: 0
}

.myh5_card .top .title {
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 2px
}

.myh5_card .top .des {
	font-size: 12px;
	color: #999;
	font-weight: normal;
	line-height: 14px;
	height: 28px;
	overflow: hidden
}

.myh5_card .top .content1 {
	margin-top:10px;
	margin-right: 5%;
	font-size:12px;
	color:#fff;
}

.myh5_card .top .content2 {
	font-size: 12px;
	color: #fff;
	font-weight: normal;
	line-height: 14px;
	height: 28px;
	overflow: hidden;
	margin-top: 2px;
}
.myh5_card .top .content3 {
	font-size: 12px;
	color: #fff;
	font-weight: normal;
	line-height: 14px;
	height: 28px;
	overflow: hidden;
	margin-top: 2px;
}

.myh5_card .top .arrow {
	float: right;
	margin-right: 15px;
	margin-top: 10px;
	width: 45px;
}

.myh5_card .middle {
	overflow-x: scroll;
	height: 44px;
	background-color: #f4f4f4;
	border-top: 1px solid #e7ebed;
	border-bottom: 1px solid #e7ebed;
	font-size: 12px;
	font-weight: normal;
	color: #999;
	padding-left: 20px;
	line-height: 44px
}

.myh5_card .middle .content {
	width: 400px
}

.myh5_card .middle a {
	color: #999;
	text-decoration: none
}

.myh5_card .middle a img {
	margin: 0 4px -10px 8px
}

.myh5_card .bottom a.statistics {
	float: left;
	width: 33%
}

.myh5_card .bottom a.statistics .title {
	display: block;
	text-align: center;
	color: #999;
	font-size: 14px;
	margin-top: 6px
}

.myh5_card .bottom a.statistics .number {
	font-family: "arial";
	font-size: 16px;
	display: block;
	text-align: center
}

.myh5_card .bottom a.statistics .number.color1 {
	color: #26a5ff
}

.myh5_card .bottom a.statistics .number.color2 {
	color: #37c411
}

.myh5_card .bottom a.statistics .number.color3 {
	color: #ff8595
}

.myh5_card .bottom .line {
	float: left;
	margin-top: 12px
}

.pagebg {
	background-color: #fff
}

.pagebg2 {
	background-color: #1baaff
}

.mui-btn-primary {
	background-color: #00b0ff;
	color: #fff;
	border-color: #00b0ff;
	font-size: 12px
}

.toolbar {
	height: 44px;
	border-top: 1px solid #eee;
	background-color: #f7f7f7;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: 0 -1px 6px #ccc;
	box-shadow: 0 -1px 6px #ccc
}




.mui-btn-outlined{
	padding:1px 12px;
	border-radius:20px;
	margin:8px 4px;
	float: right;
	border:1px solid #26a5ff;
	color:#26a5ff !important;
	min-width: 82px;
}
.no_order{
	background:#E6F6FF !important;
}



.sc_purple{
	background: -webkit-linear-gradient(right,#b94ebf,#83268b);
	background: -o-linear-gradient(right, #b94ebf,#83268b);
	background: -moz-linear-gradient(right, #b94ebf,#83268b);
	background: linear-gradient(to right, #b94ebf,#83268b);
}
.sc_cyan{
	background: -webkit-linear-gradient(right,#50edd1,#01cddd);
	background: -o-linear-gradient(right, #50edd1,#01cddd);
	background: -moz-linear-gradient(right, #50edd1,#01cddd);
	background: linear-gradient(to right,#50edd1,#01cddd);
}
.sc_orange{
	background: -webkit-linear-gradient(right,#f89f40,#fa6b1f);
	background: -o-linear-gradient(right, #f89f40,#fa6b1f);
	background: -moz-linear-gradient(right, #f89f40,#fa6b1f);
	background: linear-gradient(to right,#f89f40,#fa6b1f);
}
.sc_pink{
	background: -webkit-linear-gradient(right,#ff7eb3,#ff758c);
	background: -o-linear-gradient(right, #ff7eb3,#ff758c);
	background: -moz-linear-gradient(right, #ff7eb3,#ff758c);
	background: linear-gradient(to right, #ff7eb3,#ff758c);
}



